$maxWidth: 1920;

// Your $pcSize started from 1920px
// Your $mobSize ended to 360px

@mixin adaptiv-font ($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobsize: $addSize +$addSize * 0;

    @media (max-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobsize} * ((100vw - 360px) / #{$maxWidth}));
    }

    @media (min-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobsize} * (100vw / #{$maxWidth}));
    }
}

@mixin adaptiv-marginTop ($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobsize: $addSize +$addSize * 0;

    @media (max-width: 767px) {
        margin-top: calc(#{$mobSize + px} + #{$addMobsize} * ((100vw - 360px) / #{$maxWidth}));
    }

    @media (min-width: 767px) {
        margin-top: calc(#{$mobSize + px} + #{$addMobsize} * (100vw / #{$maxWidth}));
    }
}

@mixin adaptiv-paddingTop ($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobsize: $addSize +$addSize * 0;

    @media (max-width: 767px) {
        padding-top: calc(#{$mobSize + px} + #{$addMobsize} * ((100vw - 360px) / #{$maxWidth}));
    }

    @media (min-width: 767px) {
        padding-top: calc(#{$mobSize + px} + #{$addMobsize} * (100vw / #{$maxWidth}));
    }
}