@import url('../Assets/Fonts/Font.scss');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  color: inherit;
  text-decoration: none;
}

button{
  font-family: inherit;
  border: none;
  background: none;
}

body{
  font-family: 'Jost', Arial, Helvetica, sans-serif;
}
