.sing_up {
  height: 1000px;
  background-color: #2c2d31;
  position: relative;
  overflow: hidden;
  color: #fff;
  text-align: center;
  padding: 130px;
}
.big_ball {
  width: 1242px;
  height: 1242px;
  background: #202126;
  opacity: 0.9;
  border-radius: 50%;
  position: absolute;
  right: -100px;
  top: -600px;
}
.filter {
  width: 384px;
  height: 384px;
  background: #926c5a;
  opacity: 0.3;
  filter: blur(143.701px);
  position: absolute;
  right: 480px;
  top: 270px;
}
.filter1 {
  width: 384px;
  height: 384px;
  background: #926c5a;
  opacity: 0.3;
  filter: blur(143.701px);
  position: absolute;
  left: 250px;
  top: -370px;
}
.filter2 {
  width: 384px;
  height: 384px;
  background: #926c5a;
  opacity: 0.3;
  filter: blur(143.701px);
  position: absolute;
  left: -200px;
  top: 600px;
  z-index: 9999;
}
.line {
  width: 286.5px;
  height: 590.59px;
  border-radius: 50%;
  border: 1px solid #737373;
  transform: rotate(38deg);
  position: absolute;
  left: 200px;
  top: 70px;
}
.line1 {
  width: 286.5px;
  height: 590.59px;
  border-radius: 50%;
  border: 1px solid #737373;
  position: absolute;
  left: 220px;
  top: 89px;
  transform: rotate(45.67deg);
}
.small_ball {
  position: absolute;
  width: 583px;
  height: 583px;
  left: 80px;
  top: 350px;
  background: #202126;
  border-radius: 50%;
  opacity: 0.9;
}
.container {
  z-index: 99999;
  position: relative;
  max-width: 300px;
  margin: 0 auto;
  & h3 {
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
  }
  & p {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    margin: 12px 0 57px;
  }
}
.btn > Button{
  width: 320px;
}
